<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="keywords" content="{{site.keywords}}">
  <meta name="description" content="{{site.description}}">
  <meta name="author" content="Zach Dyer">

  <title>{{site.title}} | {{ page.title }}</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  
  <!-- Fontawesome icon library -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
  
  <!-- Custom styles for this template -->
  <link href="css/shop-homepage.css" rel="stylesheet">
  <link href="css/brand.css" rel="stylesheet">
  <link href="css/slideshow.css" rel="stylesheet">
  <link href="css/social-icons.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right align-self-center my-2" type="button" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <h1 class="pb-2 ml-lg-2 mx-3"><a class="navbar-brand" href="{{'/' | relative_url}}"><img src="img/auti_logo_green.gif" alt="{{site.title}} Logo" title="{{site.title}} Logo"/><br>Under Contstruction</a></h1>
        <div class="collapse navbar-collapse flex-column ml-lg-0 ml-3" id="navbarCollapse">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link px-3" href="about-us">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-3" href="contact-us">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-3" href="tel: 417-731-4000">417-731-4000</a>
                </li>
                
                <li class="nav-item">
                    <form class="form-inline my-2 my-lg-0">
                      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                      <button class="btn my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-lg btn-primary text-uppercase mx-3" href="store">Shop Online</a>
                </li>
            </ul>
            <hr style="width: 100%;" />
            <ul class="navbar-nav mb-2 h5">
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Our Products
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="urethane-bearing-covers">Urethane Bearing Covers/Idler Rollers</a>
                    <a class="dropdown-item" href="urethane-belts">Urethane Belts</a>
                    <a class="dropdown-item" href="bottle-capping-machine-parts-inserts-liners">Bottle Capper Machine Inserts</a>
                    <a class="dropdown-item" href="#">Polyurethane Bushings</a>
                    <a class="dropdown-item" href="urethane-drive-rollers">Urethane Drive Rollers</a>
                    <a class="dropdown-item" href="hard-and-soft-segment-rollers">Compliant Rollers/No Crush Rollers</a>
                    <a class="dropdown-item" href="urethane-wheels">Polyurethane Wheels</a>
                    <a class="dropdown-item" href="#">Urethane Clamping Products</a>
                  </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Products for Specific Industries</a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="urethane-bearing-covers">Mailing Machine Parts</a>
                    <a class="dropdown-item" href="urethane-in-applications">Urethane In Applications</a>
                    <a class="dropdown-item" href="urethane-in-automation">Urethane in Automation</a>
                    <a class="dropdown-item" href="banking-machines">Banking Machines</a>
                    <a class="dropdown-item" href="material-handling">Material Handling</a>
                    <a class="dropdown-item" href="packaging">Packaging</a>
                    <a class="dropdown-item" href="paving-machine">Paving Machine</a>
                    <a class="dropdown-item" href="bottle-capping-machine-parts-inserts-liners">Bottle Capper Machine Inserts</a>
                    <a class="dropdown-item" href="#">Automotive (Factory & Vehicles)</a>
                    <a class="dropdown-item" href="#">Factory Roller Maintenance and Upgrade</a>
                  </div>
                </li>
                <li class="nav-item mt-2">
                    <a class="nav-link py-0 pr-3" href="general-industry">Industries Served</a>
                </li>
                <li class="nav-item mt-2">
                    <a class="nav-link py-0 pr-3" href="why-urethane">Why Urethane?</a>
                </li>
              <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Engineering Assistance</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="engineering-assistance">Engineering Assistance</a>
                  <a class="dropdown-item" href="performance-comparison">Performance Comparison</a>
                  <a class="dropdown-item" href="glossary">Glossary</a>
                  <h6 class="dropdown-header">Material Specifications</h6>
                    <a class="dropdown-item" href="soft-material-specs">Soft Material Specifications</a>
                    <a class="dropdown-item" href="medium-material-specs">Medium Material Specifications</a>
                    <a class="dropdown-item" href="hard-material-specs">Hard Material Specifications</a>
                    <a class="dropdown-item" href="fda-specs">FDA Food Handling Specifications</a>
                  </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
  
    <!-- Page Content -->
  <div class="container">

    <div class="row">
