        <div class="col-md-3 mt-4 d-sm-none d-md-block{% if page.print-friendly %} d-print-none{% endif %}">
          {% if page.hide-menu != "" %}
          <h1 class="h4 text-primary">{{site.title}}</h1>
          <div class="list-group mb-4">
            <h6 class="text-uppercase list-group-item active m-0">Specific Products</h6>
            {% for link in site.products-menu %}
            <a href="{{ link.href }}" class="list-group-item">{{link.name}}</a>
            {% endfor %}
          </div>
          <div class="list-group mb-4">
            <h6 class="text-uppercase list-group-item active m-0">Specific Industries</h6>
            {% for link in site.industries-menu %}
            <a href="{{ link.href }}" class="list-group-item">{{link.name}}</a>
            {% endfor %}
          </div>
          <div class="list-group mb-4">
            <h6 class="text-uppercase list-group-item active m-0">Purchase Products</h6>
            <a href="store" class="list-group-item">The AUTI Store</a>
          </div>
          {% endif %}
        </div>