<div id="carouselIndicators" class="carousel slide my-4{% if page.hide-slideshow %} bg-white{% endif %}" data-ride="carousel">
          <ol class="carousel-indicators">
            {% for i in (1..page.slides.size) %}
            <li data-target="#carouselIndicators" data-slide-to="{{ i }}" class="{{ slide.active }}"></li>
            {% endfor %}
          </ol>
          <div class="carousel-inner" role="listbox">
            {% for slide in page.slides %}
            <div class="carousel-item {{ slide.active }}">
              <img class="slide d-block img-fluid ml-auto mr-auto" src="{{ slide.src }}" alt="{{ slide.alt }}" class="img-fluid">
            </div>
            {% endfor %}
          </div>
          <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>