{% include header.html %}

      <div class="col-lg-9 mt-4 mb-5">
        <h1>{{ page.title }}</h1>
        <img src="img/6BottleCap.jpg" alt="Bottle Capping Inserts" title="Bottle Capping Inserts" class="img-fluid ml-auto mr-auto mb-4">
        <p>Applied Urethane is a leading supplier of bottling capping machine inserts and liners
We carry, in stock, most popular sizes for most machines. Insert size from #1 to #110
If you need a different style, we can make that for you also. Most times without a tooling charge.
We make specialized inserts for medicine , pump sprayers and your custom needs. We have special
High precision urethanes to protect your caps  with less dust.(better wear)45A, 60A, 70A, and 80A
Hardnesses.  Different plastic cap perform different with the various polyurethanes. Urethane helps to
 protect the caps. If you need the tires, a short tube, we can help there too. FDA compliant urethanes are available. The inserts and liners are used for cap tightening and uncapping.
</p>
        
        
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Insert Size (Cap Size in mm)</th>
                <th scope="col">Price Each</th>
                <th scope="col">Outside Diameter</th>
                <th scope="col">20% Discount (50-99 Units)</th>
                <th scope="col">40% Discount (100 or more)</th>
              </tr>
            </thead>
            <tbody>
            {% for row in site.data.capper-inserts %}
              <tr>
                <td>{{ row.size }}</td>
                <td>{{ row.price }}</td>
                <td>{{ row.diameter }}</td>
                <td>{{ row.discount20 }}</td>
                <td>{{ row.discount40 }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
        
         {{ content }}
        
      </div>
      <!-- /.col-lg-9 -->

 {% include footer.html %}