{% include header.html %}

      <div class="col-lg-9 mt-4 mb-5">
        <h1>{{ page.title }}</h1>
        <img src="img/6BottleCap.jpg" alt="Bottle Capping Inserts" title="Bottle Capping Inserts" class="img-fluid ml-auto mr-auto mb-4">
        <p>AUTI specializes in the manufacturing of bottle capper inserts for various bottle capper machines. To see more pictures of the bottle cap inserts we design, please [CLICK HERE](/). Below is a pricing list of the various size bottle capper inserts that we manufacture.</p>
        
        
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Insert Size (Cap Size in mm)</th>
                <th scope="col">Price Each</th>
                <th scope="col">Outside Diameter</th>
                <th scope="col">20% Discount (50-99 Units)</th>
                <th scope="col">40% Discount (100 or more)</th>
              </tr>
            </thead>
            <tbody>
            {% for row in site.data.capper-inserts %}
              <tr>
                <td>{{ row.size }}</td>
                <td>{{ row.price }}</td>
                <td>{{ row.diameter }}</td>
                <td>{{ row.discount20 }}</td>
                <td>{{ row.discount40 }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
        
         {{ content }}
        
      </div>
      <!-- /.col-lg-9 -->

 {% include footer.html %}