{% include header.html %}

      <div class="col-lg-9 mt-4 mb-5">
        <h1>{{ page.title }}</h1>
        
        {{ content }}
        
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Insert Size (Cap Size in mm)</th>
                <th scope="col">Price Each</th>
                <th scope="col">Outside Diameter</th>
                <th scope="col">20% Discount (50-99 Units)</th>
                <th scope="col">40% Discount (100 or more)</th>
              </tr>
            </thead>
            <tbody>
            {% for row in site.data.capper-inserts %}
              <tr>
                <td>{{ row.size }}</td>
                <td>{{ row.price }}</td>
                <td>{{ row.diameter }}</td>
                <td>{{ row.discount20 }}</td>
                <td>{{ row.discount40 }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
        <p>60A Polyurethane, other hardnesses are available. 40% Discount for orders of 100 pieces or more of each part. 20% Discount for orders of 50 to 99 pieces of each part. Contact us for more information. Capper Insert sizes listed above are in the Industry Standard Cap Size of millimeters (mm).</pp>

        <p>Minimum of $100 per order is required.</pp>

        <p><i class="fa fa-print"></i> Print Capper Inserts Chart For a printer friendly version of this price chart, please <a href="javascript: window.print()">click here</a></p>

        <p>We also specialize in production of Bottle Cap Clamps.</p>
        <div class="row">
          <img alt="Bottle Cap Clamps" src="/img/bottling3_1.jpg" class="col"/>

          <img alt="Bottle Cap Clamps" src="/img/BCINSERT3.jpg" class="col"/>
        </div>
        <p>Please contact us for pricing with your measurements, and specifications if your the size is not listed on the table on the previous page.</pp>
      </div>
      <!-- /.col-lg-9 -->

 {% include footer.html %}