{% include header.html %}

<div class="col-lg-9 mb-5 mt-4">

  <h1>{{ page.title }}</h1>
  <img src="/img/AUTI_Store_Roller_Banner_650_219.jpg" alt="Replacement Polyurethane Compliant Rollers" title="Replacement Urethane Compliant Rollers" class="img-fluid">

  <p>We are offering the following top quality <b>replacement</b> rollers for your Pitney Bowes™ Equipment</p>

  <div class="table-responsive">
    <table class="table">
      <tbody>
        <tr>
          <td><u>Part number</u></td>
          <td>&nbsp;&nbsp;</td>
          <td><u>Qty price for 60+</u></td>
          <td>&nbsp;&nbsp;</td>
          <td><u>Price Individually</u></td>
          <td></td>
        </tr>
        <tr>
          <td>1002270-AU</td>
          <td>&nbsp;&nbsp;</td>
          <td>$24.00 each</td>
          <td>&nbsp;&nbsp;</td>
          <td>$30.00</td>
          <td></td>
        </tr>
        <tr>
          <td>1006403-AU</td>
          <td>&nbsp;&nbsp;</td>
          <td>$21.60 each</td>
          <td>&nbsp;&nbsp;</td>
          <td>$27.00</td>
          <td></td>
        </tr>
        <tr>
          <td>410257-AU</td>
          <td>&nbsp;&nbsp;</td>
          <td>$12.00 each</td>
          <td>&nbsp;&nbsp;</td>
          <td>$20.10</td>
          <td></td>
        </tr>
        <tr>
          <td>410449-AU</td>
          <td>&nbsp;&nbsp;</td>
          <td>$16.20 each </td>
          <td>&nbsp;&nbsp;</td>
          <td>$20.10</td>
          <td></td>
        </tr>
        <tr>
          <td>410450-AU</td>
          <td>&nbsp;&nbsp;</td>
          <td>$11.40 each</td>
          <td>&nbsp;&nbsp;</td>
          <td>$14.10</td>
          <td></td>
        </tr>
        <tr>
          <td>411331-AU</td>
          <td>&nbsp;&nbsp;</td>
          <td>$12.00 each</td>
          <td>&nbsp;&nbsp;</td>
          <td>$25.00</td>
          <td></td>
        </tr>
        <tr>
          <td>411674-AU</td>
          <td>&nbsp;&nbsp;</td>
          <td>$16.20 each</td>
          <td>&nbsp;&nbsp;</td>
          <td>$20.10</td>
          <td></td>
        </tr>
        <tr>
          <td>411847-AU</td>
          <td>&nbsp;&nbsp;</td>
          <td>$12.00 each</td>
          <td>&nbsp;&nbsp;</td>
          <td>$18.00</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>

  <img src="http://www.appliedurethane.com/images/roller_specs_picture_254_250.jpg" class="image" alt="Polyurethane Roller Specifications" title="Urethane Roller Specifications">
  <p color="blue" class="text-center">Scroll Down for Roller Specs</p>

  <p class="text-center">
    These Rollers are made in the USA from top quality,<br> long lasting, high performance Polyurethane.</p>
  <p class="text-center">
    If you do not see your rollers listed,<br> we have others available.</p>

  <h4>Specifications for Rollers</h4>
  <div class="table-responsive">
    <table class="table">
      <tbody>
        <tr>
          <th>Part #</th>
          <th>Description</th>
          <th>OD x Width x Bore</th>
        </tr>
        <tr>
          <td>
            <a href="#1002270-AU">
             1002270-AU 
          </a>
          </td>
          <td>
            P/B Olympus II Multi-Tier Super Compliant Roller
          </td>
          <td>
            3.063 x 1.50 x .95
          </td>
        </tr>
        <tr>
          <td>
            <a href="#1006403-AU">
             1006403-AU 
          </a>
          </td>
          <td>
            P/B Olympus II Multi-Tier Super Compliant Roller
          </td>
          <td>
            3.163 x 1.00 x 1.00
          </td>
        </tr>
        <tr>
          <td>
            410257-AU
          </td>
          <td>
            P/B Olympus II Multi-Tier Super Compliant Roller
          </td>
          <td>
            3.00 x .75 x 1.00
          </td>
        </tr>
        <tr>
          <td>
            <a href="#410449-AU">
             410449-AU 
          </a>
          </td>
          <td>
            P/B Olympus II Single &amp; Multi-Tier Compliant Roller
          </td>
          <td>
            2.50 x 1.50 x 1.00
          </td>
        </tr>
        <tr>
          <td>
            <a href="#410450-AU">
             410450-AU 
          </a>
          </td>
          <td>
            P/B Olympus II Single Tier Compliant Roller
          </td>
          <td>
            2.50 x .75 x 1.00
          </td>
        </tr>

        <tr>
          <td>
            411331-AU
          </td>
          <td>
            P/B Olympus II Single &amp; Multi-Tier Compliant Roller
          </td>
          <td>
            2.561 x 1.5 x 1.00
          </td>
        </tr>

        <tr>
          <td>
            <a href="#411674-AU">
             411674-AU 
          </a>
          </td>
          <td>
            P/B Olympus II Single Tier Noncompliant Roller
          </td>
          <td>
            2.50 x .75 x .62
          </td>
        </tr>

        <tr>
          <td>
            411847-AU
          </td>
          <td>
            P/B Olympus II Single &amp; Multi-Tier Compliant Roller
          </td>
          <td>
            2.55 x .75 x .62
          </td>
        </tr>
      </tbody>
    </table>
  </div>

    <hr>

    <h3>
      Replacement Rollers for Pitney Bowes Machines
    </h3>
    <!-- ------------------------ Begin Main Product Table --------------------- -->
    <div class="table-responsive">
      <table class="table">
        <tbody>
          <tr>
            <td>
              <font size="4" face="verdana, arial, helvetica, sans-serif"><b>Pitney Bowes™ <a name="411674-AU">Part# 411674-AU Replacement Roller</a> 
        <br>
        <br>
         <i>Pitney Bowes™ Rollers were originally blue</i> 
      </td>
    </tr>
    <tr>
      <td >
        <center>
          <a href="http://www.appliedurethane.com/images/non_compliant_roller_601_360.jpg" title="Enlarge Non-Compliant Rollers" target="_blank">
<img src="http://www.appliedurethane.com/images/non_compliant_roller_261_160.jpg" alt="Urethane Non-Compliant Roller" title="Non-Compliant Roller"></a>
        </center><br>
        <center>
          <font face="verdana, arial, helvetica, sans-serif" size="1">Click Picture to Enlarge 
        </center>
      </td>
      <td >
        <center>
          <a href="http://www.appliedurethane.com/images/non_compliant_roller_ruler_600_369.jpg" title="Enlarge Non-Compliant Rollers" target="_blank">
<img src="http://www.appliedurethane.com/images/non_compliant_roller_ruler_263_162.jpg" alt="Urethane Non Compliant Rollers" title="Non-Compliant Rollers"></a><br>
        </center>
        <center>
          <font face="verdana, arial, helvetica, sans-serif" size="1">Click Picture to Enlarge 
        </center>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <ul>
          <li>
             
              This Roller Replaces Pitney Bowes™ Part #411674 
          </li>
          <li>
             2.50" Outside Diameter by .75" wide by .625" inside diameter 
          </li>
          <li>
             
              Non-Compliant Rollers 
          </li>
          <li>
             
              70A Shore Hardness 
          </li>
          <li>
             
              MANY APPLICATIONS 
          </li>
        </ul>
      </td>
    </tr>
    <tr>
      <td  >
        <center>
          <br>
          <font size="4" face="verdana, arial, helvetica, sans-serif"><b>$20.10 
           (Each) 
          <br>
          <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="V8M87FQNG9UVL">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
          </form>

        </center>
      </td>
      <td  >
        <center>
           
            (Price - More than 60 pieces) <br>
          <font size="4" face="verdana, arial, helvetica, sans-serif"><b>$16.20 
           (Each) 
          <br>
          <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="45A9UB5NGKBTY">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
          </form>
        </center>
      </td>
    </tr>
    <tr>
      <td  bgcolor="#bbbbbb" colspan="2">
        <font size="2" face="verdana, arial, helvetica, sans-serif" color="#000000">Disclaimer:<br> Pitney Bowes™ and their products are registered trademarks of Pitney Bowes, Inc™ . This store is not in any way affiliated with Pitney Bowes™, Inc., nor a representative of.
         
      </td>
    </tr>
  </tbody>
</table>
      </div>


<hr >


<!-- -------- Main Product Table 2 Polyurethane Compliant Rollers --------------- -->
<div class="table-responsive">
<table class="table">
  <tbody>
    <tr>
      <td bgcolor="#bbbbbb" colspan="2">
        <font size="4" face="verdana, arial, helvetica, sans-serif"><b>Pitney Bowes™ <a name="410449-AU">Part#410449-AU<br></a>
Replacement Compliant Roller 
        <br>
        <br>
         <i>Pitney Bowes™ Rollers were originally blue</i> 
      </td>
    </tr>
    <tr>
      <td >
        <center>
          <a href="http://www.appliedurethane.com/images/polyurethane_compliant_roller_602_372.jpg" title="Enlarge Compliant Rollers" target="_blank">
<img src="http://www.appliedurethane.com/images/polyurethane_compliant_roller_265_164.jpg" alt="Urethane Compliant Roller" title="Compliant Roller"></a>
        </center>
        <br>
        <center>
          <font face="verdana, arial, helvetica, sans-serif" size="1">Click Picture to Enlarge 
        </center>
      </td>
      <td >
        <center>
          <a href="http://www.appliedurethane.com/images/polyurethane_compliant_roller_ruler_601_413.jpg" title="Enlarge Polyurethane Compliant Rollers" target="_blank">
<img src="http://www.appliedurethane.com/images/polyurethane_compliant_roller_ruler_235_161.jpg" alt="Urethane Compliant Rollers" title="Compliant Rollers">
</a>
        </center>
        <br>
        <center>
          <font face="verdana, arial, helvetica, sans-serif" size="1">Click Picture to Enlarge 
        </center>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <ul>
          <li>
             
              This Roller Replaces Pitney Bowes™ Part #410449 
          </li>
          <li>
             2.50" Outside Diameter by 1.50" wide by 1.00" inside diameter 
          </li>
          <li>
             
              70A Shore Hardness (other hardnesses are available) 
          </li>
          <li>
             
              MANY APPLICATIONS 
          </li>
        </ul>
      </td>
    </tr>
    <tr>
      <td  >
        <center>
          <br>
          <font size="4" face="verdana, arial, helvetica, sans-serif"><b>$20.10 
           (Each) 
          <br>
          <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="UANDT4MAPM5N8">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">

          </form>

        </center>
      </td>
      <td  >
        <center>
           
            (Price - More than 60 pieces) <br>
          <font size="4" face="verdana, arial, helvetica, sans-serif"><b>$16.20 
           (Each) 
          <br>
          <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="UPPVZD7BMZNFY">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">

          </form>

        </center>
      </td>
    </tr>
    <tr>
      <td  bgcolor="#bbbbbb" colspan="2">
        <font size="2" face="verdana, arial, helvetica, sans-serif" color="#000000">Disclaimer:<br> Pitney Bowes™ and their products are registered trademarks of Pitney Bowes, Inc™ . This store is not in any way affiliated with Pitney Bowes™, Inc., nor a representative of.
         
      </td>
    </tr>
  </tbody>
</table>
      </div>
<hr >


<!-- -------------- Main Product Table 3 Super Compliant Roller --------------- -->
<div class="table-responsive">
<table class="table">
  <tbody>
    <tr>
      <td bgcolor="#bbbbbb" colspan="2">
        <font size="4" face="verdana, arial, helvetica, sans-serif"><b>Pitney Bowes™ <a name="1006403-AU">Part# 1006403-AU</a><br>
Replacement Super Compliant Roller 
        <br>
        <br>
         <i>Pitney Bowes™ Roller were originally blue</i> 
      </td>
    </tr>
    <tr>
      <td >
        <center>
          <a href="http://www.appliedurethane.com/images/urethane_super_compliant_roller_606_453.jpg" title="Enlarge Super Compliant Roller" target="_blank">
<img src="http://www.appliedurethane.com/images/urethane_super_compliant_roller_221_165.jpg" alt="Urethane Super Compliant Roller" title="Super Compliant Roller">
</a>
        </center>
        <br>
        <center>
          <font face="verdana, arial, helvetica, sans-serif" size="1">Click Picture to Enlarge 
        </center>
      </td>
      <td >
        <center>
          <a href="http://www.appliedurethane.com/images/urethane_super_compliant_roller_ruler_602_366.jpg" title="Enlarge Urethane Super Compliant Rollers" target="_blank">
<img src="http://www.appliedurethane.com/images/urethane_super_compliant_roller_ruler_272_165.jpg" alt="Urethane Super Compliant Rollers" title="Super Compliant Rollers"></a>
        </center>
        <br>
        <center>
          <font face="verdana, arial, helvetica, sans-serif" size="1">Click Picture to Enlarge 
        </center>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <ul>
          <li>
             
              This Roller Replaces Pitney Bowes™ Part #1006403 
          </li>
          <li>
             3.163" Outside Diameter by 1.00" wide by .97" inside diameter 
          </li>
          <li>
             
              70A Shore Hardness 
          </li>
          <li>
             
              MANY APPLICATIONS 
          </li>
        </ul>
      </td>
    </tr>
    <tr>
      <td  >
        <center>
          <br>
          <font size="4" face="verdana, arial, helvetica, sans-serif"><b>$27.00 
           (Each) 
          <br>
          <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="6LLPRW8CPRWGA">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">

          </form>


        </center>
      </td>
      <td  >
        <center>
           
            (Price - More than 60 pieces) <br>
          <font size="4" face="verdana, arial, helvetica, sans-serif"><b>$21.60 
           (Each) 
          <br>
          <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="BHFVSJLASZYRA">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">

          </form>

        </center>
      </td>
    </tr>
    <tr>
      <td  bgcolor="#bbbbbb" colspan="2">
        <font size="2" face="verdana, arial, helvetica, sans-serif" color="#000000">Disclaimer:<br> Pitney Bowes™ and their products are registered trademarks of Pitney Bowes, Inc™ . This store is not in any way affiliated with Pitney Bowes™, Inc., nor a representative of.
         

      </td>
    </tr>
  </tbody>
</table>
      </div>

<!-- -------------  Main Product Table 4 - Compliance Rollers ----------------- -->
<div class="table-responsive">
<table class="table">
  <tbody>
    <tr>
      <td bgcolor="#bbbbbb" colspan="2">
        <font size="4" face="verdana, arial, helvetica, sans-serif"><b>Pitney Bowes™ <a name="410450-AU">Part# 410450-AU<br></a>
Replacement Compliant Roller 
        <br>
        <br>
         <i>Pitney Bowes™ Rollers were originally blue</i> 
      </td>
    </tr>
    <tr>
      <td >
        <center>
          <a href="http://www.appliedurethane.com/images/urethane_compliant_rollers_601_368.jpg" title="Enlarge Compliance Rollers" target="_blank">
<img src="http://www.appliedurethane.com/images/urethane_compliant_rollers_269_165.jpg" alt="Urethane Compliance Roller" title="Compliance Roller">
</a>
        </center>
        <br>
        <center>
          <font face="verdana, arial, helvetica, sans-serif" size="1">Click Picture to Enlarge 
        </center>
      </td>
      <td >
        <center>
          <a href="http://www.appliedurethane.com/images/urethane_compliant_rollers_ruler_605_416.jpg" title="Enlarge Compliance Rollers" target="_blank">
<img src="http://www.appliedurethane.com/images/urethane_compliant_rollers_ruler_240_166.jpg" alt="Urethane Compliance Rollers" title="Compliance Rollers">
</a>
        </center>
        <br>
        <center>
          <font face="verdana, arial, helvetica, sans-serif" size="1">Click Picture to Enlarge 
        </center>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <ul>
          <li>
             
              This Roller Replaces Pitney Bowes™ Part #410450 in Mail Processing Machines 
          </li>
          <li>
             2.50" Outside Diameter by .75" wide by 1.00" inside diameter 
          </li>
          <li>
             
              70A Shore Hardness 
          </li>
          <li>
             
              MANY APPLICATIONS 
          </li>
          <li>
             
              Complaint Roller - Urethane No Crush Roller 
          </li>
        </ul>
      </td>
    </tr>
    <tr>
      <td  >
        <center>
          <br>
          <font size="4" face="verdana, arial, helvetica, sans-serif"><b>$14.10 
           (Each) 
          <br>
          <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="25C4R89D4MAAA">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
          </form>


        </center>
      </td>
      <td  >
        <center>
           
            (Price - More than 60 pieces) <br>
          <font size="4" face="verdana, arial, helvetica, sans-serif"><b>$11.40 
           (Each) 
          <br>
          <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="M5Z6FHAP6D8LJ">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
          </form>

        </center>
      </td>
    </tr>
    <tr>
      <td  bgcolor="#bbbbbb" colspan="2">
        <font size="2" face="verdana, arial, helvetica, sans-serif" color="#000000">Disclaimer:<br> Pitney Bowes™ and their products are registered trademarks of Pitney Bowes, Inc™ . This store is not in any way affiliated with Pitney Bowes™, Inc., nor a representative of.
         

      </td>
    </tr>
  </tbody>
</table>
      </div>
<hr >

<!-- -------------------- Main Product Table 1-5 No Crush Rollers ----------------- -->
<div class="table-responsive">
<table class="table">
  <tbody>
    <tr>
      <td bgcolor="#bbbbbb" colspan="2">
        <font size="4" face="verdana, arial, helvetica, sans-serif"><b><a name="1002270-AU">Pitney Bowes™ Part# 1002270-AU</a><br>
Replacement Compliant Roller 
        <br>
        <br>
         <i>Pitney Bowes™ Rollers were originally blue</i> 
      </td>
    </tr>
    <tr>
      <td >
        <center>
          <a href="http://www.appliedurethane.com/images/urethane_no_crush_rollers_606_341.jpg" title="Enlarge No Crush Rollers" target="_blank">
<img src="http://www.appliedurethane.com/images/urethane_no_crush_rollers_294_166.jpg" alt="Urethane No Crush Roller" title="No Crush Roller">
</a>
        </center>
        <br>
        <center>
          <font face="verdana, arial, helvetica, sans-serif" size="1">Click Picture to Enlarge 
        </center>
      </td>
      <td >
        <center>
          <a href="http://www.appliedurethane.com/images/urethane_no_crush_rollers_ruler_604_377.jpg" title="Enlarge No Crush Roller" target="_blank">
<img src="http://www.appliedurethane.com/images/urethane_no_crush_rollers_ruler_268_167.jpg" alt="Urethane No Crush Rollers" title="No Crush Rollers">
</a>
        </center>
        <br>
        <center>
          <font face="verdana, arial, helvetica, sans-serif" size="1">Click Picture to Enlarge 
        </center>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <ul>
          <li>
             
              This Roller Replaces Pitney Bowes™ Part #1002270 
          </li>
          <li>
             3.09" Outside Diameter by 1.50" wide by .96" inside diameter 
          </li>
          <li>
             
              70A Shore Hardness 
          </li>
          <li>
             
              MANY APPLICATIONS 
          </li>
          <li>
             
              Complaint Roller - Urethane No Crush Roller 
          </li>
        </ul>
      </td>
    </tr>
    <tr>
      <td  >
        <center>
          <br>
          <font size="4" face="verdana, arial, helvetica, sans-serif"><b>$30.00 
           (Each) 
          <br>
          <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="SLCAYXMS2VMXC">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">

          </form>


        </center>
      </td>
      <td  >
        <center>
           
            (Price - More than 60 pieces) <br>
          <font size="4" face="verdana, arial, helvetica, sans-serif"><b>$24.00 
           (Each) 
          <br>
          <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="5SHZSNS2EZD24">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
          </form>
        </center>
      </td>
    </tr>
    <tr>
      <td  bgcolor="#bbbbbb" colspan="2">
        <font size="2" face="verdana, arial, helvetica, sans-serif" color="#000000">Disclaimer:<br> Pitney Bowes™ and their products are registered trademarks of Pitney Bowes, Inc™ . This store is not in any way affiliated with Pitney Bowes™, Inc., nor a representative of.
         

      </td>
    </tr>
  </tbody>
</table>
      </div>

<hr >
  <p><b>AUTI specializes in Pitney Bowes™ replacement rollers for your Equipment. Polyurethane Compliant Rollers are sometimes referred to as a Polyurethane No Crush Roller, Zero Crush Roller or a Compliance Roller. Non-Compliant rollers can be referred to as Non-Compliance Rollers, also. Main Applied Urethane Technology, Inc. <a href="/compliant-rollers">Compliant Rollers Page </a>. 
</p>

<!-- Start horizantal rule 1 -->
<hr>





</div>
<!-- /.col-lg-9 -->

{% include footer.html %}